body {
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-color: #1A1D22;
}

.units {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  border: solid 3px #CAC9D1;
}

select {
  width: 250px;
}

/* font */
body, select, button {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #CAC9D1;
}

select, button {
  border-radius: 5px;
  border: solid 2px #CAC9D1;
}