body {
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-color: #1A1D22;
}

.units {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  border: solid 1px #CAC9D1;
  padding: 10px;
}

select {
  width: 250px;
  background-color: #353D49;
  padding: 3px;
}

button {
  background-color: #8859FF;
  color: #F2EDFF;
  padding: 3px;
}

button:hover {
  background-color: #432987;
}

/* font */
body, select {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #CAC9D1;
}

select, button {
  border-radius: 5px;
  border: solid 2px #CAC9D1;
}
